.body {
    background-color: crimson;
}

span {
    font-size: 15px;
    margin-left: 20px;
}

span {
    font-size: 15px;
    float:right;
     margin-left: 20px;
}

span {
    text-decoration-color: rgb(246, 246, 246);
}